
$bg-overlay-opacity: 0.7;
$theme-palette: (
  'blue':         ( color: #16a7d8,     text: #FFF,     header: #FFF,       link: #FFF,       overlay_opacity: $bg-overlay-opacity),
  'yellow':       ( color: #ffef00,     text: #6e6c6c,  header: #666,       link: #6e6c6c,    overlay_opacity: $bg-overlay-opacity),
  'red':          ( color: #ec3a43,     text: #FFF,     header: #FFF,       link: #FFF,       overlay_opacity: 0.8),
  'green':        ( color: #1dac5c,     text: #fff,     header: #FFF,       link: #FFF,       overlay_opacity: $bg-overlay-opacity),
  'orange':       ( color: #ef753d,     text: #FFF,     header: #FFF,       link: #FFF,       overlay_opacity: $bg-overlay-opacity),
  'black':        ( color: #000000,     text: #FFF,     header: #FFF,       link: #FFF,       overlay_opacity: 0.6),
	'dark-gray':    ( color: #828282,     text: #FEFEFE,  header: #FFF,       link: #FFF,       overlay_opacity: $bg-overlay-opacity),
  'white':        ( color: #ffffff,     text: #6e6c6c,  header: #16a7d8,    link: #24bbdf,    overlay_opacity: $bg-overlay-opacity)
);


// misc. variables
$button-border-width: 3px;
$button-border-style: solid;


// Fonts.com Fonts
$theme-fonts: (
   arial: ( family: "Arial", variants: (
                               default:  ( weight: normal, style: normal ),
                               bold:     ( weight: bold, style: normal )
                             )
   )
);

$fontello-name: 'empty';
$fontello-id: 46320439;
$theme-icons: (
  star: '\e806',
);

$theme-background-images: ();
$theme-background-tiles: ();
