<footer class="bg-smoke pad-1">
  <div class="column row">
    <span class="copyright">&copy; 2016-<%= Time.now.year %> <%= link_to('Cohesive Creative &amp; Code, Inc.', 'http://www.cohesive.cc', target: '_blank') %></span>
  </div>
</footer>
