<header class="bg-blue">
  <div class="column row">
    <%= link_to(content_tag(:h4, 'CohesiveAdmin'), '/', class: 'logo-link') %>
    <nav class="float-right">
      <%= link_to('<i class="fa fa-github"></i> Github', 'https://github.com/cohesivecc/admin', target: '_blank') %>
      <%= link_to('Docs', '/documentation/basics/install.html', class: 'button bg-outline bg-white') %>
    </nav>
  </div>
</header>
